{{ define "statements" }}
{{ template "header" }}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">Система управления</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link" aria-current="page" href="/">Списки</a>
        <a class="nav-link" href="/schedules">Расписания</a>
        <a class="nav-link active" href="#">Ведомости</a>
      </nav>
    </div>
  </header>
  {{ template "footer" }}
  {{ end }}